<!DOCTYPE html>
<html>
<head>
    <% include ../../../../node-js-getting-started/views/partials/header.ejs %>
</head>

<body>

<% include ../../../../Nodejs/views/partials/nav.ejs %>

<div class="container">
    <h2>Database Results</h2>

    <ul>
        <% rows.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
        <% }); %>
    </ul>

</div>

</body>
</html>
